@import url(../theme/theme.css);
@import url(./shoelace.css);

:root,
:host {
	/* Surfaces, pulled from figma theme builder */
	--md-surface-light: #FDFBFF;
	--md-surface-light-1: #F2F3FB;
	--md-surface-light-2: #ECEEF8;
	--md-surface-light-3: #E6EAF5;
	--md-surface-light-4: #E4E8F4;
	--md-surface-light-5: #DFE5F3;

	--md-surface-dark: #1A1B1E;
	--md-surface-dark-1: #212429;
	--md-surface-dark-2: #252930;
	--md-surface-dark-3: #2A2E37;
	--md-surface-dark-4: #2B3039;
	--md-surface-dark-5: #2E333E;

	/* Required for correct font customization */
	--md-filled-button-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-elevated-button-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-outlined-button-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-tonal-button-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-text-button-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-list-list-item-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-list-list-item-supporting-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-navigation-bar-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-filled-text-field-input-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-filled-text-field-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-filled-text-field-supporting-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-outlined-text-field-input-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-outlined-text-field-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-outlined-text-field-supporting-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-fab-extended-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-segmented-button-label-text-type: 500 0.75rem/1rem "Readex Pro";
	--md-menu-list-item-label-text-type: 500 0.75rem/1rem "Readex Pro";

	/* App shell background color */
	--md-app-shell-background: var(--md-ref-palette-primary95);
	--md-main-surface-background: var(--md-sys-color-surface);

	/* Surface tint color */
	/* --md-sys-elevation-surface-tint-color: var(--md-sys-color-primary); */

	/* +5 */
	--md-sys-elevation-level5-value: 12px;
	--md-sys-elevation-level5-unit: 1px;
	--md-sys-elevation-level5: 12px;
	/* +4 */
	--md-sys-elevation-level4-value: 8px;
	--md-sys-elevation-level4-unit: 1px;
	--md-sys-elevation-level4: 8px;
	/* +3 */
	--md-sys-elevation-level3-value: 6px;
	--md-sys-elevation-level3-unit: 1px;
	--md-sys-elevation-level3: 0px 1px 3px 0px rgba(0, 0, 0, 0.3), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
	/* +2 */
	--md-sys-elevation-level2-value: 3px;
	--md-sys-elevation-level2-unit: 1px;
	--md-sys-elevation-level2: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
	/* +1 */
	--md-sys-elevation-level1-value: 1px;
	--md-sys-elevation-level1-unit: 1px;
	--md-sys-elevation-level1: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
	/* 0 */
	--md-sys-elevation-level0-value: 0px;
	--md-sys-elevation-level0-unit: 1px;
	--md-sys-elevation-level0: 0px 0px 1px 0px rgba(0, 0, 0, 0.3), 0px 0px 1px 0px rgba(0, 0, 0, 0.15);
}

.light-theme {
	--md-surface: var(--md-surface-light);
	--md-surface-1: var(--md-surface-light-1);
	--md-surface-2: var(--md-surface-light-2);
	--md-surface-3: var(--md-surface-light-3);
	--md-surface-4: var(--md-surface-light-4);
	--md-surface-5: var(--md-surface-light-5);
}

.dark-theme {
	--md-surface: var(--md-surface-dark);
	--md-surface-1: var(--md-surface-dark-1);
	--md-surface-2: var(--md-surface-dark-2);
	--md-surface-3: var(--md-surface-dark-3);
	--md-surface-4: var(--md-surface-dark-4);
	--md-surface-5: var(--md-surface-dark-5);
}

.elevation-0 {
	box-shadow: var(--md-sys-elevation-level0);
}

.elevation-1 {
	box-shadow: var(--md-sys-elevation-level1);
}

.elevation-2 {
	box-shadow: var(--md-sys-elevation-level2);
}

.elevation-3 {
	box-shadow: var(--md-sys-elevation-level3);
}

.elevation-4 {
	box-shadow: var(--md-sys-elevation-level4);
}

.elevation-5 {
	box-shadow: var(--md-sys-elevation-level5);
}