---
import Layout from "../../layouts/Layout.astro";
type Props = {};

const {} = Astro.props;
---

<confirmation-dialog></confirmation-dialog>

<Layout title="Registros">
	<div class="content-container">
		<section class="content">
			<bx-breadcrumb>
				<bx-breadcrumb-item>
					<bx-breadcrumb-link href="/">Inicio</bx-breadcrumb-link>
				</bx-breadcrumb-item>
				<bx-breadcrumb-item>
					<bx-breadcrumb-link href="/registros" aria-current="page">Registros</bx-breadcrumb-link>
				</bx-breadcrumb-item>
			</bx-breadcrumb>

			<h3>Registros</h3>
		</section>

		<data-table></data-table>
	</div>
</Layout>

<script>
	import "../../components/confirmation-dialog";
	import "../../components/data-table";
	import "@carbon/web-components/es/components/breadcrumb/index.js";
	import "@carbon/web-components/es/components/tile/clickable-tile.js";
	import type { DataTable } from "../../components/data-table";

	const confirmationDialogEl = document.querySelector("confirmation-dialog");
	const dataTableEl = document.querySelector("data-table") as DataTable;
	dataTableEl?.addEventListener("open-registration-dialog", (e: any) => {
		console.log("open registration dialog:", e);
		if (confirmationDialogEl) {
			confirmationDialogEl.registration = e.detail;
			confirmationDialogEl.open = true;
		}
	});
</script>
