---
import Layout from "../layouts/Layout.astro";
import Hero from "./home/Hero.astro";
import SingleInfoCard from "../components/SingleInfoCard.astro";

const { default: mountainTrailIcon } = await import(`@layout/components/icons/mountain_trail_icon.svg?raw`);
const { default: rulesIcon } = await import(`@layout/components/icons/rules_icon.svg?raw`);
const { default: medalIcon } = await import(`@layout/components/icons/medal_icon.svg?raw`);
---

<Layout title="Coatl Race">
	<main>
		<Hero videoHref="https://firebasestorage.googleapis.com/v0/b/serial-mtb-texcoco.appspot.com/o/videos%2Fintro_promo_480.mp4?alt=media&token=ff5356c0-53cd-4a4f-9edf-730e3f414e4b" title="Serial MTB Texcoco" subtitle="La mejor experiencia de ciclismo de montaña en Texcoco" />

        <section>
            <p>Este evento se lleva a cabo en Monte Tláloc, Estado de México. Una competencia de aproximadamente 22 kilometros y 6 pruebas especiales (3 de ellas completamente nuevas).</p>
    
            <div class="rewards-container">
                <h2>
                    TU INSCRIPCIÓN INCLUYE:
                    
                    <p class="rewards">
                        <ul>
                            <li>Cronometraje con chip</li>
                            <li>Jersey conmemorativo</li>
                            <li>Hidratacíon</li>
                            <li>Bandana</li>
                            <li>Medalla conmemorativa</li>
                            <li>Lift el día de la carrera</li>
                        </ul>
                    </p>
                </h2>
    
                <image-loader href="https://firebasestorage.googleapis.com/v0/b/serial-mtb-texcoco.appspot.com/o/banners%2Fcoatl_square.jpg?alt=media&token=1a3479d2-109e-43c7-a7d1-0097d0c55bf0"></image-loader>
            </div>
    
    
            <div class="info-container">
                <SingleInfoCard title="Ruta" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a quam rhoncus.">
                    <Fragment set:html={mountainTrailIcon} />
                </SingleInfoCard>
                
                <SingleInfoCard title="Reglamento" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a quam rhoncus.">
                    <Fragment set:html={rulesIcon} />
                </SingleInfoCard>
    
                <SingleInfoCard title="Resultados" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a quam rhoncus.">
                    <Fragment set:html={medalIcon} />
                </SingleInfoCard>
            </div>
    
            <contact-section email="h.ochentay4@gmail.com" phoneNumber="55 7898 0582"></contact-section>
        </section>
	</main>
</Layout>

<style>
	main {
		gap: 72px;
		color: var(--md-sys-color-on-surface);
	}

    section {
        display: flex;
        flex-direction: column;
        gap: 72px;
        max-width: 120ch;
        align-self: center;
    }
	
	.info-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, 1fr);
		gap: 50px;
        max-width: 600px;
        margin: 40px auto;
	}
	
	h2 {
		font-family: "JetBrains Mono";
		letter-spacing: 1px;
		margin: 0;
	}
	
	p {
		font-size: 1.3rem;
		letter-spacing: 1px;
		font-weight: 300;
		margin: 0;
	}

	.rewards {
		margin-top: 12px;
		font-size: 1rem;
	}

	ul {
		font-size: 1rem;
		font-weight: 300;
		margin: 0;
		padding: 0 30px;
	}

	.rewards-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

    image-loader {
        border-radius: 8px;
        overflow: hidden;
    }

	@media(max-width: 768px) {
		.rewards-container {
			grid-template-columns: 1fr;
		}

		image-loader {
			max-width: 400px;
			margin: auto;
			margin-bottom: 24px;
			order: -1;
		}
	}
</style>

<script>
	import "../sections/contact-section";
	import "../components/image-loader"
</script>
