---
import Layout from "../../layouts/Layout.astro";
import Hero from "../home/Hero.astro";

---

<Layout title="Eventos">
	<main>
		<Hero
			href="https://firebasestorage.googleapis.com/v0/b/serial-mtb-texcoco.appspot.com/o/logos%2Fhero_better_forest.jpg?alt=media&token=5196fb7b-1cd4-4fa3-9296-49283f02c61b"
            title="Serial MTB Texcoco"
            subtitle="La mejor experiencia de ciclismo de montaña en Texcoco"
		/>
        <body>
            <date-cards></date-cards>
        </body>
	</main>
    
</Layout>
<script>
    import "./date-cards"

</script>