---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
---

<Layout title="Reto Tláloc - Eventos">
	<main>
		<Banner title="Eventos" href="https://firebasestorage.googleapis.com/v0/b/serial-mtb-texcoco.appspot.com/o/logos%2Fhero_better_forest.jpg?alt=media&token=5196fb7b-1cd4-4fa3-9296-49283f02c61b" />
	</main>
</Layout>

<style>
	h2 {
		font-family: "JetBrains Mono";
		font-weight: 900;
	}
</style>
