---
import Layout from "../../layouts/Layout.astro";
import Banner from "../../components/Banner.astro";
import Card from "../../components/Card.astro";

const { registrationID } = Astro.params;
---

<Layout title="Coatl Race - Confirmacion">
	<main data-id={registrationID}>
		<Banner title="Confirmacion de registro" href="https://firebasestorage.googleapis.com/v0/b/serial-mtb-texcoco.appspot.com/o/logos%2Fhero_better_forest.jpg?alt=media&token=5196fb7b-1cd4-4fa3-9296-49283f02c61b" />

		<section>
			<div id="cardContainer">
				<Card>
					<registration-details registrationID={registrationID}></registration-details>
				</Card>
			</div>

			<bx-file-uploader helper-text="Sólo se permiten archivos .jpg y .png." label-text="Comprobante de pago">
				<bx-file-drop-container accept="image/jpeg image/png" multiple="true">Arrastra tu comprobante de pago aquí o haz clic para subirlos</bx-file-drop-container>
			</bx-file-uploader>
		</section>
	</main>
</Layout>

<style>
	h2 {
		font-family: "JetBrains Mono";
		font-weight: 900;
	}

	section {
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 24px;
		align-items: center;
	}

	#cardContainer {
		width: 100%;
	}

    registration-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }
</style>

<script>
	import "../../components/registration-details";
	import "@carbon/web-components/es/components/file-uploader/index.js";
</script>
