---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<section>
	<h3>{title}</h3>

    <h4>Fecha de registro</h4>
</section>

<style>
	section {
		border-radius: 12px;
		border: 1px solid var(--md-sys-color-outline-variant);
		padding: 12px;
		/* background-color: var(--md-sys-color-background); */
	}
</style>

<script>
	import "@material/web/button/filled-button";
</script>
