---
---

<section>
    <slot></slot>
</section>

<style>
	section {
		border-radius: 6px;
		border: 1px solid var(--md-sys-color-outline-variant);
		padding: 12px;
	}
</style>

<script>
	import "@material/web/button/filled-button";
</script>
