---
const { title, description, href } = Astro.props;
---

<div class="card-container">
	<div class="icon-container">
		<slot />
	</div>
	<div class="info-container">
		<header>
            {href ? 
                <bx-link target="_blank" href={href}><h1>{title}</h1></bx-link> :
                <h1>{title}</h1>
            }
		</header>
		<div class="description">
			<p>{description}</p>
		</div>
	</div>
</div>

<style>
	h1,
	p {
		margin: 0;
		color: var(--md-sys-color-on-surface);
        font-size: 0.9rem;
	}

	h1 {
		font-size: 1.1rem;
		text-transform: capitalize;
	}

	.info-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.card-container {
		display: flex;
        align-items: center;
		gap: 8px;
	}

	.icon-container {
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 6px;
		background-color: var(--md-sys-color-primary);

		width: 48px;
		padding: 8px;
		height: 48px;
		fill: var(--md-sys-color-surface);

        flex-shrink: 0;
	}

	@media (max-width: 800px) {
		.icon-container {
			margin: 0 auto;
		}
	}
</style>

<script>
    import "@carbon/web-components/es/components/link/index.js";
</script>