---
export interface Props {
	title: string;
	subtitle: string;
	href: string;
}

const { href } = Astro.props;
---

<section>
	<img class="overlay" src={href} />
	
    <div class="content">
		<h1>Reto 2 cumbres</h1>
        <h3>1er fecha - 19 de febrero</h3>
        <h3>Salida en Cabañas TLALOCAMP, Monte Tláloc, Texcoco</h3>

        <md-filled-button label="Registrate ahora"></md-filled-button>
	</div>
</section>

<style>
	section {
        position: relative;
        height: 350px;

        display: flex;
        flex-direction: column;
        color: var(--md-sys-color-inverse-on-surface-light);
        justify-content: center;
	}

    md-filled-button {
        margin-top: 32px;
    }

	img.overlay {
		position: absolute;
		left: 0;
		top: 0;
		height: 100% !important;
		width: 100%;
		object-fit: cover;
        border-radius: 16px;
        object-position: center;

        filter: brightness(0.8);
	}

    img.header-image {
        width: 100%;
    }

	.content {
		display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
		
		padding: 24px;
		box-sizing: border-box;
        border-radius: 12px;
	}

	.content > * {
		z-index: 1;
	}

    h1 {
        margin: 0 !important;
        font-family: "JetBrains Mono";
        letter-spacing: 0.5px;
        font-size: 52px;
        text-transform: uppercase;
    }

    h3 {
        font-family: "JetBrains Mono";
        font-weight: 300;
        margin: 0;
        font-size: 20px;
    }

    @media (max-width: 768px) {
        md-filled-button {
            align-self: center;
        }

        section {
            height: auto;
        }
    }
</style>

<script>
    import '@material/web/button/filled-button'
</script>
