---
export interface Props {
	title: string;
	subtitle: string;
	href?: string;
	videoHref?: string;
	videoPoster?: string;
}

const { href, videoHref, videoPoster } = Astro.props;
---

<section>
	{
		videoHref ? (
			<video playsinline autoplay muted loop poster={videoPoster}>
				<source src={videoHref}  type="video/mp4" />
			</video>
		) : (
			<img class="overlay" src={href} />
		)
	}

	<div class="content">
		<h1>Coatl Race</h1>
		<h3>1er carrera - 12 de marzo</h3>
		<h3>Monte Tláloc, Texcoco</h3>

		<md-filled-link-button href="/registro" label="Registrate ahora"></md-filled-link-button>
	</div>
</section>

<style>
	section {
		position: relative;
		height: 400px;

		display: flex;
		flex-direction: column;
		color: var(--md-sys-color-inverse-on-surface-light);
		justify-content: center;
	}

	md-filled-link-button {
		margin-top: 32px;
	}

	img.overlay {
		position: absolute;
		left: 0;
		top: 0;
		height: 100% !important;
		width: 100%;
		object-fit: cover;
		border-radius: 10px;
		object-position: center;

		filter: brightness(0.8);
	}

	img.header-image {
		width: 100%;
	}

	.content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		padding: 24px;
		box-sizing: border-box;
		border-radius: 12px;
	}

	.content > * {
		z-index: 1;
	}

	h1 {
		margin: 0 !important;
		font-family: "JetBrains Mono";
		letter-spacing: 0.5px;
		font-size: 52px;
		text-transform: uppercase;
	}

	h3 {
		font-family: "JetBrains Mono";
		font-weight: 300;
		margin: 0;
		font-size: 20px;
	}

	video {
		position: absolute;
		top: 0;
		left: 0;
        
		width: 100%;
		object-fit: cover;
		height: 100%;
        
        border-radius: 10px;
		object-position: center;
        
        filter: brightness(0.4);
	}

	@media (max-width: 768px) {
		md-filled-link-button {
			align-self: center;
		}

        section {
            height: calc(100vh - 80px - 64px - 24px);
        }

        .content {
            align-items: center;
            text-align: center;
        }
	}
</style>

<script>
	import "@material/web/button/filled-link-button";
</script>
