---
import Layout from "../../layouts/Layout.astro";
---

<style>
	main {
		color: var(--md-sys-color-on-primary-container);
	}

	section {
		padding: 16px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		max-width: 80ch;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 48px;
		margin-top: 48px;
	}

	form > div {
		display: flex;
		flex-direction: column;
		gap: 16px;
		align-items: stretch;
	}

	.checkbox-container {
		display: flex;
		align-items: center;
		position: relative;
		font-size: 14px;
	}

	.dropdown-container {
		display: flex;
		position: relative;
		flex-direction: column;
	}

	.subheader {
		margin: 0;
		font-family: "JetBrains Mono";
		font-style: italic;
		letter-spacing: 0.5px;
	}

	md-menu {
		--md-menu-container-elevation: 1;
	}

	[hidden] {
		display: none;
	}

	.checkbox-container input {
		position: absolute;
		top: 20px;
		left: 15px;
		opacity: 0;
		pointer-events: none;
	}

	image-loader {
		width: 100%;
		max-width: 120ch;
		margin: 0 auto;
		z-index: 1;
	}

	.checkbox-container md-checkbox,
	.checkbox-container input {
		flex-shrink: 0;
	}

	.disclaimer-container {
		align-items: flex-start;
	}

	.disclaimer-container > div {
		margin-top: 10px;
	}

	#raceTypeInput,
	#comprobanteInput {
		width: 1px;
		height: 1px;
		opacity: 0;
		pointer-events: none;
		align-self: center;
	}

	.comprobante-container {
		align-self: center;
		display: flex;
		flex-direction: column;
	}

	.serial-container {
		margin-top: -24px;
	}

	md-outlined-text-field[disabled] {
		pointer-events: none;
	}

	md-menu-item[disabled] {
		display: none;
	}

	h1 {
		font-family: "JetBrains Mono";
		text-align: center;
		font-size: 2.5rem;
		letter-spacing: 0.5px;
	}

	@media (max-width: 768px) {
		h1 {
			font-size: 2.2rem;
		}
	}

	@media (max-width: 480px) {
		h1 {
			font-size: 1.8rem;
		}
	}
</style>

<Layout title="Reto Tláloc - Registro">
	<main>
		<div class="banner">
			<image-loader href="https://firebasestorage.googleapis.com/v0/b/serial-mtb-texcoco.appspot.com/o/banners%2Ftlaloc%2Fportada_tlaloc.jpg?alt=media&token=b23e4754-cb1b-485c-b3c2-4a60ac4d9cf9"></image-loader>
		</div>

		<section>
			<h1>Registro - Reto Tláloc</h1>

			<form class="form">
				<div>
					<h4 class="subheader">1. COMPROBANTE DE PAGO</h4>

					<div class="comprobante-container">
						<comprobante-uploader></comprobante-uploader>
						<input class="input" id="comprobanteInput" name="comprobante" required />
					</div>
				</div>

				<div>
					<h4 class="subheader">2. PERFIL</h4>
					<md-outlined-text-field required class="input" type="text" name="fullName" label="Nombre Completo"></md-outlined-text-field>
					<md-outlined-text-field required class="input" type="email" name="email" label="Correo electronico"></md-outlined-text-field>
					<!-- <md-outlined-text-field required class="input" minlength="6" type="password" name="password" id="passwordInput" label="Contraseña" minlength="6"></md-outlined-text-field>

					<div class="checkbox-container">
						<md-checkbox id="noAccountCheckbox"></md-checkbox>
						<div>No quiero crear una cuenta.</div>
					</div> -->

					<md-outlined-text-field required class="input" type="tel" name="phone" label="Telefono"></md-outlined-text-field>
				</div>

				<div>
					<h4 class="subheader">3. CONTACTO DE EMERGENCIA</h4>
					<md-outlined-text-field supportingText="Nombre completo de tu contacto de emergencia" required class="input" type="text" name="fullNameEmergencyContact" label="Nombre"></md-outlined-text-field>
					<md-outlined-text-field supportingText="Telefono de tu contacto de emergencia" required class="input" type="tel" name="phoneEmergencyContact" label="Telefono"></md-outlined-text-field>
				</div>

				<div>
					<h4 class="subheader">4. INFORMACION DE CARRERA</h4>
					<md-outlined-segmented-button-set name="raceType">
						<md-outlined-segmented-button data-value="basico" label="Básico - $400" hasIcon></md-outlined-segmented-button>
						<md-outlined-segmented-button data-value="elite" label="Elite - $650" hasIcon></md-outlined-segmented-button>
					</md-outlined-segmented-button-set>
					<input class="input" id="raceTypeInput" name="raceType" required />

					<div class="dropdown-container">
						<md-outlined-text-field disabled placeholder="Selecciona una opcion" class="input" id="categoriasInput" label="Categoria" name="raceCategory" required></md-outlined-text-field>

						<md-menu fullwidth>
							<md-menu-item data-value="principiantes" headline="Principiantes"></md-menu-item>
							<md-menu-item data-value="intermedios" headline="Intermedios"></md-menu-item>
							<md-menu-item data-value="avanzados" headline="Avanzados"></md-menu-item>
						</md-menu>
					</div>

					<div class="dropdown-container">
						<md-outlined-text-field disabled placeholder="Selecciona una talla" class="input" id="tallaInput" name="size" label="Talla" required></md-outlined-text-field>

						<md-menu fullwidth>
							<md-menu-item data-value="Extra Chico" headline="Extra Chico"></md-menu-item>
							<md-menu-item data-value="Chico" headline="Chico"></md-menu-item>
							<md-menu-item data-value="Mediano" headline="Mediano"></md-menu-item>
							<md-menu-item data-value="Grande" headline="Grande"></md-menu-item>
							<md-menu-item data-value="Extra Grande" headline="Extra Grande"></md-menu-item>
						</md-menu>
					</div>

					<md-outlined-text-field required class="input" type="text" name="teamName" label="Nombre del equipo"></md-outlined-text-field>
					<md-outlined-text-field required class="input" type="text" name="placeOfOrigin" label="Lugar de procedencia"></md-outlined-text-field>

					<div class="dropdown-container">
						<md-outlined-text-field placeholder="Selecciona una opcion" class="input" id="tipoSangreInput" name="bloodType" label="Tipo de sangre" required></md-outlined-text-field>

						<md-menu fullwidth>
							<md-menu-item data-value="O+" headline="O+"></md-menu-item>
							<md-menu-item data-value="O-" headline="O-"></md-menu-item>
							<md-menu-item data-value="A+" headline="A+"></md-menu-item>
							<md-menu-item data-value="A-" headline="A-"></md-menu-item>
							<md-menu-item data-value="B+" headline="B+"></md-menu-item>
							<md-menu-item data-value="B-" headline="B-"></md-menu-item>
							<md-menu-item data-value="AB+" headline="AB+"></md-menu-item>
							<md-menu-item data-value="AB-" headline="AB-"></md-menu-item>
						</md-menu>
					</div>

					<div class="checkbox-container disclaimer-container">
						<md-checkbox id="disclaimerCheckbox"></md-checkbox>
						<input id="hiddenDisclaimerCheckbox" required class="input" type="checkbox" name="disclaimer" />
						<div>
							En consideración de la presente, renuncio a cualquier derecho y reclamación por daños que yo pueda tener, en contra del comité organizador, grupos coordinadores y cualquier persona asociada con el evento, sus representantes, sucesores y asignados, los exonero de cualquier daño que pudiera sufrir antes, durante y después del evento, por considerarse riesgo deportivo. Adicionalmente, ninguna de las personas antes mencionadas, serán responsables por la pérdida de
							artículos personales ni de cualquier forma de agravación en relación con dicho evento. Reconozco que he leído y comprometido mi propia responsabilidad y acepto las restricciones impuestas, así mismo acepto que he de cumplir apegado al <bx-link target="_blank" href="https://firebasestorage.googleapis.com/v0/b/serial-mtb-texcoco.appspot.com/o/reglamento%2FReglamento%20-%20Reto%20Tlaloc.pdf?alt=media&token=8014e31a-326d-4c02-b993-d783f7612623"
								>reglamento de operación vigente.</bx-link
							>
						</div>
					</div>

					<div class="checkbox-container">
						<md-checkbox id="termsCheckbox"></md-checkbox>
						<input id="hiddenTermsCheckbox" required class="input" type="checkbox" name="terms" />
						<div>Acepto los <a>términos de uso.</a></div>
					</div>
				</div>

				<div class="btns">
					<sl-button hidden type="submit">Submit</sl-button>
					<md-filled-button id="submitButton" type="submit" label="Enviar registro"></md-filled-button>
				</div>
			</form>
		</section>
	</main>
</Layout>

<script>
	import "@material/web/textfield/outlined-text-field";
	import "@material/web/checkbox/checkbox";
	import "@material/web/button/filled-button";
	import "@shoelace-style/shoelace/dist/components/button/button.js";
	import "@material/web/segmentedbuttonset/outlined-segmented-button-set";
	import "@material/web/segmentedbutton/outlined-segmented-button";
	import "@material/web/menu/menu";
	import "@carbon/web-components/es/components/link/index.js";
	import "@material/web/menu/menu-item";
	import "../../components/image-loader";
	import "../../components/comprobante-uploader";
	import type { MdOutlinedTextField } from "@material/web/textfield/outlined-text-field";
	import type { MdFilledButton } from "@material/web/button/filled-button";
	import type { MdMenu } from "@material/web/menu/menu";
	import type { MdCheckbox } from "@material/web/checkbox/checkbox";
	import type { MdMenuItem } from "@material/web/menu/menu-item";
	import { getInstance as getMachine } from "@state/machines/registration";
	import { DateTime } from "luxon";
	import { incrementRegistrationCount } from "@db/clients/firebase";

	const registrationMachine = getMachine();
	registrationMachine.onTransition(async (state) => {
		console.log("registration machine transition:", state.value, state.context);
		if (state.matches("complete")) {
			console.log("REGISTRATION SUCCESS:", state.context);

			// Wait 3 seconds before redirecting
			// await new Promise(resolve => setTimeout(resolve, 3000))
			window.location.replace(`/confirmacion/${state.context.id}`);
		}

		if (state.matches("notifyRegistrationError")) {
			console.log("REGISTRATION ERROR:", state.context);

			mdButton?.removeAttribute("disabled");
			mdButton.label = "Enviar registro";
		}
	});

	const slButton = document.querySelector("sl-button");
	const mdButton = document.querySelector("#submitButton") as MdFilledButton;
	mdButton?.addEventListener("click", () => {
		slButton?.click();
	});

	// Form + checkbox references
	const form = document.querySelector("form");

	const disclaimerCheckbox = document.querySelector("md-checkbox#disclaimerCheckbox");
	const disclaimerHiddenCheckbox = document.querySelector("md-checkbox#disclaimerCheckbox + input") as HTMLInputElement;

	// const serialRegistrationCheckbox = document.querySelector("md-checkbox#serialRegistrationCheckbox") as MdCheckbox;
	// const serialRegistrationHiddenCheckbox = document.querySelector("md-checkbox#serialRegistrationCheckbox + input") as HTMLInputElement;

	const termsCheckbox = document.querySelector("md-checkbox#termsCheckbox");
	const termsHiddenCheckbox = document.querySelector("md-checkbox#termsCheckbox + input") as HTMLInputElement;

	const noAccountCheckbox = document.querySelector("md-checkbox#noAccountCheckbox") as MdCheckbox;

	const categoriasInput = document.querySelector("md-outlined-text-field#categoriasInput") as MdOutlinedTextField;
	const categoriasMenu = document.querySelector("#categoriasInput + md-menu") as MdMenu;

	const tipoSangreInput = document.querySelector("md-outlined-text-field#tipoSangreInput") as MdOutlinedTextField;
	const tipoSangreMenu = document.querySelector("#tipoSangreInput + md-menu") as MdMenu;

	const tallaInput = document.querySelector("md-outlined-text-field#tallaInput") as MdOutlinedTextField;
	const tallaMenu = document.querySelector("#tallaInput + md-menu") as MdMenu;
	tallaInput?.addEventListener("click", () => {
		console.log("click");
		if (tallaMenu) {
			tallaMenu.anchor = tallaInput;
			tallaMenu.show();
		}
	});
	tallaMenu?.addEventListener("close-menu", (event) => {
		let target = event.target as MdMenuItem;
		let { value } = target.dataset;
		if (value) {
			tallaInput.value = value;
			validateInput(tallaInput);
		}
	});

	const fileUploaderInput = document.querySelector("#comprobanteInput") as HTMLInputElement;
	const fileUploader = document.querySelector("comprobante-uploader") as HTMLInputElement;
	fileUploader?.addEventListener("file-added", (e) => {
		const { detail } = e as CustomEvent;
		console.log("file uploaded:", e, detail);

		if (fileUploaderInput && e) {
			fileUploaderInput.type = "file";
			const dT = new DataTransfer();
			dT?.items?.add(detail);
			fileUploaderInput.files = dT.files;
		}
		validateInput(fileUploaderInput);
	});

	const raceTypeInput = document.querySelector("#raceTypeInput") as HTMLInputElement;
	const raceTypeSegmentedButtonSet = document.querySelector("md-outlined-segmented-button-set");
	raceTypeSegmentedButtonSet?.addEventListener("segmented-button-set-selection", (e) => {
		let target = e?.detail?.button as MdMenuItem;
		let { value } = target.dataset;
		console.log("race type select:", value, e);

		if (raceTypeInput && value) raceTypeInput.value = value;
		validateInput(raceTypeInput);

		categoriasInput.removeAttribute("disabled");
		if (value === "elite") {
			tallaInput?.removeAttribute("disabled");
			// masterSingleOption?.removeAttribute("disabled");
			// xlSingleOption?.removeAttribute("disabled");
			// serialRegistrationPrice.innerText = " - $2700";
		} else {
			tallaInput?.setAttribute("disabled", "");
			// masterSingleOption?.setAttribute("disabled", "");
			// xlSingleOption?.setAttribute("disabled", "");
			// serialRegistrationPrice.innerText = " - $2400";
		}
	});

	categoriasInput?.addEventListener("click", () => {
		console.log("click");
		if (categoriasMenu) {
			categoriasMenu.anchor = categoriasInput;
			categoriasMenu.show();
		}
	});
	categoriasMenu?.addEventListener("close-menu", (event) => {
		console.log("on close:", event);
		let target = event.target as MdMenuItem;
		let { value } = target.dataset;
		if (value) {
			categoriasInput.value = value;
			validateInput(categoriasInput);
		}
	});

	tipoSangreInput?.addEventListener("click", () => {
		console.log("click");
		if (tipoSangreMenu) {
			tipoSangreMenu.anchor = tipoSangreInput;
			tipoSangreMenu.show();
		}
	});
	tipoSangreMenu?.addEventListener("close-menu", (event) => {
		let target = event.target as MdMenuItem;
		let { value } = target.dataset;
		if (value) {
			tipoSangreInput.value = value;
			validateInput(tipoSangreInput);
		}
	});

	const validateInput = (input: MdOutlinedTextField | HTMLInputElement) => {
		const isInputValid = input.checkValidity();
		if (!isInputValid) {
			if (input.value === "") {
				input.setCustomValidity("Campo requerido.");
			} else if (input.validity.typeMismatch || input.validity.badInput) {
				input.setCustomValidity("Por favor ingresa un valor válido.");
			} else if (input.validity.tooShort) {
				input.setCustomValidity("Requiere un mínimo de 6 caracteres");
			} else if (input.validity.valid || input.validity.valueMissing) {
				input.setCustomValidity("Campo requerido.");
			} else {
				input.setCustomValidity("");
			}

			// Report to update input error message.
			input.reportValidity();
		}
	};

	// Ensures errors are cleared when input is valid.
	const runningValidation = (input: MdOutlinedTextField | HTMLInputElement) => {
		input.addEventListener("input", () => {
			validateInput(input);
		});
	};

	// Sets initial error message for required fields.
	// Checkboxes not in inputs array due to being synced via md-checkbox.
	disclaimerHiddenCheckbox?.setCustomValidity("Campo requerido.");
	termsHiddenCheckbox?.setCustomValidity("Campo requerido.");
	const inputs = document.querySelectorAll("md-outlined-text-field, input") as NodeListOf<MdOutlinedTextField | HTMLInputElement>;
	inputs.forEach(async (input) => {
		input.setCustomValidity("Campo requerido.");
		runningValidation(input);
	});

	// Add submit event listener
	form?.addEventListener("submit", async (event) => {
		event.preventDefault();

		mdButton.setAttribute("disabled", "");
		mdButton.label = "Enviando...";

		let isFormValid = form.reportValidity();
		console.log("isFormValid:", isFormValid);

		if (isFormValid) {
			console.log("SUBMIT success:", event);
			handleSubmit();
		} else {
			console.log("SUBMIT error:", event);
			// form.scrollIntoView({ behavior: "smooth", block: "start" });
			registrationMachine.send({
				type: "NOTIFY_FORM_ERROR",
			});

			mdButton?.removeAttribute("disabled");
			mdButton.label = "Enviar registro";
		}
	});

	const handleSubmit = async () => {
		if (!form) return;

		// Get form data
		const formData = new FormData(form);
		const data = Object.fromEntries(formData.entries());
		console.log("data:", data);

		// Create account using firebase singleton. Consider moving this to machine.
		// if (!noAccountCheckbox?.checked) {
		// 	singleton.machine.send({
		//         type: "CREATE_ACCOUNT",
		//         newUser: {
		//             email: data.email as string,
		//             password: data.password as string,
		//         }
		//     });
		// }

		const selectedRegistrationType = "REG_TLALOC";

		// Consider moving this to CF - on db create.
		const shortDate = DateTime.local().toFormat("yyyyMMdd");
		const incrementRes = await incrementRegistrationCount(selectedRegistrationType);
		const paddedIndex = pad(incrementRes);
		const shortID = `${selectedRegistrationType}/${shortDate}/${paddedIndex}`;

		registrationMachine.send({
			type: "SUBMIT_REGISTRATION",
			registrationDetails: {
				email: data.email as string,
				size: (data.size||"") as string,
				fullName: data.fullName as string,
				teamName: data.teamName as string,
				raceType: (data.raceType || "") as string,
				phone: (data.phone || "") as string,
				raceCategory: data.raceCategory as string,
				bloodType: data.bloodType as string,
				fullNameEmergencyContact: data.fullNameEmergencyContact as string,
				phoneEmergencyContact: data.phoneEmergencyContact as string,
				placeOfOrigin: data.placeOfOrigin as string,
				reg_serial: false,
				shortID: shortID as string,
				comprobante: data.comprobante as File,
			},
		});
	};

	// Syncs the native checkbox with the material checkbox.
	const _syncNativeCheckbox = (hiddenCheckbox: HTMLInputElement) => {
		const toggledCheck = !hiddenCheckbox.checked;
		console.log("syncing checkbox, new value:", toggledCheck);
		hiddenCheckbox.setCustomValidity(!toggledCheck ? "Campo requerido." : "");
		hiddenCheckbox.checked = toggledCheck;
		hiddenCheckbox.reportValidity();
	};

	// Add checkbox change listener
	disclaimerCheckbox?.addEventListener("change", () => _syncNativeCheckbox(disclaimerHiddenCheckbox));
	termsCheckbox?.addEventListener("change", () => _syncNativeCheckbox(termsHiddenCheckbox));
	// serialRegistrationCheckbox?.addEventListener("change", () => _syncNativeCheckbox(serialRegistrationHiddenCheckbox));

	// Disable/enable password input
	noAccountCheckbox?.addEventListener("change", (e) => {
		const { checked } = e?.target as MdCheckbox;
		const passwordInput = document.querySelector("md-outlined-text-field#passwordInput") as MdOutlinedTextField;
		passwordInput.disabled = checked;
		if (checked) {
			passwordInput.value = "";
			passwordInput.setCustomValidity("");
		} else {
			passwordInput.setCustomValidity("Campo requerido.");
		}
		passwordInput.reportValidity();
	});

	function pad(num: number, size: number = 4) {
		let parsedNum = num.toString();
		while (parsedNum.length < size) parsedNum = "0" + parsedNum;
		return parsedNum;
	}
</script>
